body {
  text-align: center;
  font-family: 'Merriweather', "Times New Roman", Times, serif;
  color: #111111;
}

p {
  text-align: justify;
}

h1 {
  font-family: 'Reenie Beanie', Garamond, cursive;
  font-size: 200%;
  font-size: 6vw;
  text-shadow: 4px 4px 4px #aaa;
}

h2 {
 font-family: 'Shadows Into Light Two', cursive;
 font-size:180%;
 font-size:2.5vw;
}

h3 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size:150%;
  font-size:2vw;
}

/* Overlay for passcode */
#overlay {
  color: white;
}

.blackout {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  z-index: 10000;
}

.disappear {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  width: 0.00000001%;
  height: 0.00000001%;
  background-color: rgba(0,0,0,0);
  z-index: -10000;
  transform: scale(0.0000000001);
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: black;
}
  
/* Ben and Cheryl */
.names {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Date */
.date {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Countdown Timer */
.counter {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Shadows Into Light Two', cursive;
    font-size:1.5vw;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #ffffff;
  }
  
/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #1d0e46;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
  
/* Page content */
.content {
  padding: 0;
}
  
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
  margin-top: 60px;
}