body {
  text-align: center;
  font-family: 'Merriweather', "Times New Roman", Times, serif;
  color: #111111;
  font-size: 15px;
  margin: 0 0 0 0;
  line-height: 120%;
  padding: 0;
  background-color: white;
}

/* Ben and Cheryl */
h1 {
  font-family: 'Reenie Beanie', Garamond, cursive;
  font-size: 4.5vw;
  transform: scale(2);
  text-shadow: 0.15vw 0.15vw 0.25vw #aaa;
}

/* Section headers */
h2 {
 font-family: 'Shadows Into Light Two', Times, cursive;
 font-size: 30px;
 margin: 40px 10px 30px 10px;
}

/* Wedding date */
h3 {
  font-family: 'Shadows Into Light Two', Times, cursive;
  font-size: 2.5vw;
}

/* === Overlay for passcode === */
#overlay {
  color: white;
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  z-index: 10000;
}

.BOinit {
  background-color: rgba(0,0,0,1);
}

.disappear {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  width: 0.00000001%;
  height: 0.00000001%;
  background-color: rgba(0,0,0,0);
  z-index: -10000;
  transform: scale(0.0000000001);
}

.BOnames {
  position: absolute;
  color: white;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BOform {
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BOversion {
  position: absolute;
  color: rgb(182, 182, 182);
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* === Title poster thing === */
/* Container holding the image and the text */
#home {
    position: relative;
    text-align: center;
    color: black;
}
  
/* Ben and Cheryl */
.names {
    position: absolute;
    top: 11.3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Date */
.date {
    position: absolute;
    top: 23.8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Countdown Timer */
.counter {
    position: absolute;
    top: 28.3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 1.8vw;
}

#navanchor {
  display: block;
  position: absolute;
  bottom: 10%;
}

/* === Style the navbar (and related stuff) ==== */
#navbar {
    overflow: hidden;
    background-color: rgb(250, 250, 250);
    z-index: 100; 
    position: fixed;
    top: 0;
    width: 100%;
  }
  
#navbar table {
  margin-left:auto; 
  margin-right:auto;
}

#navbar table td {
  max-width: 19.9vw;
  height: 35px;
  padding: 3px 1.8vw 3px 1.8vw;
  font-size: 1.1vw;
}

#navbar a {
  display: block;
  text-align: center;
  text-decoration: none;
}

#navbar a:link {
  color: #111111;
}

#navbar a:visited {
  color: #111111;
}

#navbar a:hover {
  color: rgb(124, 124, 124);
}

.offsetanchor {
  display: block;
  position: relative;
  top: -35px;
  visibility: hidden;
}

.namelogo {
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  font-family: 'Reenie Beanie', Garamond, cursive;
  font-size: 2.4vw;
  color: black;
  text-shadow: 0.05vw 0.05vw 0.08vw #aaa;
  text-emphasis: bolder;
}

.datelogo {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translate(0, -55%);
  font-family: 'Reenie Beanie', Garamond, cursive;
  font-size: 2.8vw;
  color: black;
  text-shadow: 0.05vw 0.05vw 0.08vw #aaa;
  text-emphasis: bolder;
}

/* === Our Story === */

.poem {
  text-align: center;
  margin: 0px 15px;
}

/* === Our Memories === */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0;
}

.cell {
  width: calc(100%/3);
  height: 33.3333vw;
  gap: 0;
  padding: 0;
  margin: 0;
  border-style: none;
  overflow: hidden;
}

.cell img {
  width: 33.3334vw;
  height: 33.3334vw;
  object-fit: fill;
  padding: 0;
  margin: 0;
}

.responsive-image {
  max-width: 100vw;
}

.memoriesOffsetAnchor {
  top: -50px;
}

/* === Details === */
.detailsBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.detailsBoxReverse {
  flex-direction: row-reverse;
}

.detailsCell {
  display: table;
  box-sizing: border-box;
  width: 50%;
  margin: 0px;
  gap: 0px;
  padding: 0px;
  border-style: none;
}

.detailsList {
  padding: 5px 30px;
  margin: 0px;
  text-align: justify;
}

.venueMap {
  height: auto;
  padding: 0px;
}

/* === Credits === */

.credits {
  background-color: rgb(100, 100, 100);
  color: white;
  padding: 10px 20px 0px 20px;
  font-size: 12px;
  line-height:90%;
}

.mobileVersion {
  visibility: hidden;
  font-size: 0px;
}

/* === Mobile Styles === */
@media only screen and (min-width: 0px) and (max-width: 768px) {
  h1 {
    font-family: 'Reenie Beanie', Garamond, cursive;
    font-size: 5.2vw;
    transform: scale(2);
    text-shadow: 0.15vw 0.15vw 0.25vw #aaa;
  }
  
  /* Section headers */
  h2 {
    font-family: 'Shadows Into Light Two', Arial, Helvetica, sans-serif;
    font-size: 22px;
  }
 
 /* Wedding date */
  h3 {
    font-family: 'Shadows Into Light Two', Times, serif;
    font-size: 4.7vw;
  }

  /* Countdown Timer */
  .counter {
   position: absolute;
   top: 29.6%;
    left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'Shadows Into Light Two', cursive;
   font-size: 3.45vw;
  }

  #navbar table td {
    height: 25px;
    padding: 3px 2.6vw 3px 2.5vw;
    font-size: 2.4vw;
  }

  .namelogo {
    transform: translate(-200%, 0);
    font-size: 0;
  }

  .datelogo {
    transform: translate(200%, 0);
    font-size: 0;
  }

  #navanchor {
    display: block;
    position: absolute;
    bottom: 20%;
  }

  .offsetanchor {
    display: block;
    position: relative;
    top: -25px;
    visibility: hidden;
  }

  .memoriesOffsetAnchor {
    top: -40px;
  }

  .detailsCell {
    width: 100%;
  }

  .detailsList {
    padding: 15px 15px 5px 15px;
    text-align: center;
  }

  .venueMap {
    height: 40vh;
  }

  .negPadding {
    margin-top: -30px;
  }

  .credits {
    background-color: rgb(100, 100, 100);
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 12px;
    line-height: 90%;
  }
  
  .mobileVersion {
    visibility: visible;
    font-size: 9px;
  }

}

/* === Tablet Styles === */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  h1 {
    font-family: 'Reenie Beanie', Garamond, cursive;
    font-size: 5vw;
    transform: scale(2);
    text-shadow: 0.15vw 0.15vw 0.25vw #aaa;
  }
  
  /* Section headers */
  h2 {
    font-family: 'Shadows Into Light Two', Arial, Helvetica, sans-serif;
    font-size: 26px;
  }
 
 /* Wedding date */
  h3 {
    font-family: 'Shadows Into Light Two', Times, serif;
    font-size: 3vw;
  }

  /* Countdown Timer */
  .counter {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 2.27vw;
  }

  #navbar table td {
    padding: 3px 2.1vw 3px 2.1vw;
    font-size: 1.45vw;
  }
  

  .namelogo {
    font-size: 2.76vw;
  }

  .datelogo {
    font-size: 3.22vw;
  }
}

/* === 4k Desktop Styles === */