body {
  text-align: center;
  font-family: 'Merriweather', "Times New Roman", Times, serif;
  color: #000000;
  font-size: 16px;
  margin: 0 0 0 0;
  padding: 0;
  background-color: white;
}

p {
  text-align: justify;
  color: #111111;
  margin: 10px 10px 10px 10px;
  line-height: 120%
}

/* Ben and Cheryl */
h1 {
  font-family: 'Reenie Beanie', Garamond, cursive;
  font-size: 4.5vw;
  transform: scale(2);
  text-shadow: 0.15vw 0.15vw 0.25vw #aaa;
}

/* Section headers */
h2 {
 font-family: 'Shadows Into Light Two', Times, cursive;
 font-size: 30px;
 margin: 20px 10px 15px 10px;
}

/* Wedding date */
h3 {
  font-family: 'Shadows Into Light Two', Times, cursive;
  font-size: 2.5vw;
}

/* === Overlay for passcode === */
#overlay {
  color: white;
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  z-index: 10000;
}

.BOinit {
  background-color: rgba(0,0,0,1);
}

.disappear {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  width: 0.00000001%;
  height: 0.00000001%;
  background-color: rgba(0,0,0,0);
  z-index: -10000;
  transform: scale(0.0000000001);
}

.BOnames {
  position: absolute;
  color: white;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BOform {
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BOversion {
  position: absolute;
  color: rgb(182, 182, 182);
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* === Title poster thing === */
/* Container holding the image and the text */
#titleposter {
    position: relative;
    text-align: center;
    color: black;
}
  
/* Ben and Cheryl */
.names {
    position: absolute;
    top: 11.3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Date */
.date {
    position: absolute;
    top: 23.8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Countdown Timer */
.counter {
    position: absolute;
    top: 28.3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 1.8vw;
}

/* === Style the navbar ==== */
#navbar {
    overflow: hidden;
    background-color: white;
    opacity: 0.96;
    z-index: 100; 
    position: fixed;
    top: 0;
    width: 100%;
  }
  
#navbar table {
  margin-left:auto; 
  margin-right:auto;
}

#navbar table td {
  max-width: 19.5vw;
  height: 35px;
}

#navbar a {
  display: block;
  color: #1d0e46;
  text-align: center;
  padding: 3px 1.8vw 3px 1.8vw;
  text-decoration: none;
  font-size: 1.1vw;
}

.offsetanchor {
  display: block;
  position: relative;
  top: -35px;
  visibility: hidden;
}

/* === Other styles === */

.poem {
  text-align: center;
}

.responsive-image {
  max-width: 100vw;
}

/* === Background colour block styles === */

/* === For desktop/default === */
.grid-container {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0;
}
.cell {
  width: calc(100% / 3);
  gap: 0;
  padding: 0;
  margin: 0;
}

.cell img {
  width: 33.333vw;
  height: 33.333vw;
  object-fit: cover;
  padding: 0;
  margin: 0;
}



/* === Mobile Styles === */
@media only screen and (min-width: 0px) and (max-width: 768px) {
  h1 {
    font-family: 'Reenie Beanie', Garamond, cursive;
    font-size: 5.2vw;
    transform: scale(2);
    text-shadow: 0.15vw 0.15vw 0.25vw #aaa;
  }
  
  /* Section headers */
  h2 {
  font-family: 'Shadows Into Light Two', Arial, Helvetica, sans-serif;
  font-size: 26px;
  }
 
 /* Wedding date */
  h3 {
  font-family: 'Shadows Into Light Two', Times, serif;
  font-size: 4.7vw;
  }

  /* Countdown Timer */
  .counter {
  position: absolute;
  top: 29.6%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 3.45vw;
  }

  #navbar a {
    display: block;
    color: #1d0e46;
    text-align: center;
    padding: 3px 2.5vw 3px 2.5vw;
    text-decoration: none;
    font-size: 2.2vw;
  }
}

/* === Tablet Styles === */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  h1 {
    font-family: 'Reenie Beanie', Garamond, cursive;
    font-size: 5vw;
    transform: scale(2);
    text-shadow: 0.15vw 0.15vw 0.25vw #aaa;
  }
  
  /* Section headers */
  h2 {
  font-family: 'Shadows Into Light Two', Arial, Helvetica, sans-serif;
  font-size: 28px;
  }
 
 /* Wedding date */
  h3 {
  font-family: 'Shadows Into Light Two', Times, serif;
  font-size: 3vw;
  }

  /* Countdown Timer */
  .counter {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 2.27vw;
  }

  #navbar a {
    display: block;
    color: #1d0e46;
    text-align: center;
    padding: 3px 2.2vw 3px 2.2vw;
    text-decoration: none;
    font-size: 1.6vw;
  }
}
